@page "/2009to2019"
@inject IJSRuntime JSRuntime

<button class="btn btn-primary" @onclick="SimulateDecade">Simulate 2010s decade (1000 times)</button>
<br />
<div class="card" style="min-height: 0px;">
    <div class="containerHeader">
        <div class="fixedHeader">
            <button class="showMeButton" @onclick="ChangeButtonAppearancePlayoffAppearances">
                @buttonPlayoffAppearances
            </button>
        </div>
        <span class="verticalHeader">Playoff Appearances</span>
    </div>
    <div class="@cardDetailsStylePlayoffAppearances">
        <div class="g-predictionChart">
            <h5>Predictions - Playoff Appearances</h5>
            <!-- Create a div where the graph will take place -->
            <div id="dataVizPlayoffs" style="clear: both;">
            </div>
        </div>
        <div class="g-predictionTable">
            <table>
                <thead>
                    <tr>
                        <th>Season Year</th>
                        <th>Probability - Playoff Appearances</th>
                        <th>Probability - Cumulative Playoff Appearances</th>
                    </tr>
                </thead>
                @foreach (var numberOfEvents in Enumerable.Range(0, 11))
                {
                    <tr class="g-prediction-row">
                        <td class="g-seasonNumber">@numberOfEvents</td>
                        <td>@( (double) this.playoffsCount.Where(a => a == numberOfEvents).Count() / numberOfSimulations)</td>
                        <td>@( (double) this.playoffsCount.Where(a => a <= numberOfEvents).Count() / numberOfSimulations)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<br />
<div class="card" style="min-height: 0px;">
    <div class="containerHeader">
        <div class="fixedHeader">
            <button class="showMeButton" @onclick="ChangeButtonAppearanceChampionships">
                @buttonChampionships
            </button>
        </div>
        <span class="verticalHeader">Championships</span>
    </div>
    <div class="@cardDetailsStyleChampionships">
        <div class="g-predictionChart">
            <h5>Predictions - Championships Won</h5>
            <!-- Create a div where the graph will take place -->
            <div id="dataVizChampionships" style="clear: both;">
            </div>
        </div>
        <div class="g-predictionTable">
            <table>
                <thead>
                    <tr>
                        <th>Season Year</th>
                        <th>Probability - Championships Won</th>
                        <th>Probability - Cumulative Championships Won</th>
                    </tr>
                </thead>
                @foreach (var numberOfEvents in Enumerable.Range(0, 11))
                {
                    <tr class="g-prediction-row">
                        <td class="g-seasonNumber">@numberOfEvents</td>
                        <td>@( (double) this.championshipsCount.Where(a => a == numberOfEvents).Count() / numberOfSimulations)</td>
                        <td>@( (double) this.championshipsCount.Where(a => a <= numberOfEvents).Count() / numberOfSimulations)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@code {

    // Variables
    private string cardDetailsStylePlayoffAppearances = "card-details-visible";
    private string cardDetailsStyleChampionships = "card-details-visible";
    private string buttonPlayoffAppearances = "[ - ]";
    private string buttonChampionships = "[ - ]";

    private int numberOfSimulations = 1000;

    public bool isPlayoffTeam { get; set; } = false;
    public bool isPlayoffTeamWithBye { get; set; } = false;
    public bool isChampionshipWinningTeam { get; set; } = false;

    List<int> basketballSeasons =
        Enumerable.Range(2009, 10).ToList();
    private List<Simulation.SimulationOutcome> simulationOutComes = new List<Simulation.SimulationOutcome>();
    private List<Simulation.SimulationOutcome> simulatedDecades = new List<Simulation.SimulationOutcome>();

    private List<int> playoffsCount = new List<int>();
    private List<int> championshipsCount = new List<int>();

    private void ChangeButtonAppearancePlayoffAppearances(MouseEventArgs e)
    {
        var eventArgs = e;

        cardDetailsStylePlayoffAppearances = (cardDetailsStylePlayoffAppearances == "card-details-hidden") ? ("card-details-visible") : ("card-details-hidden");
        buttonPlayoffAppearances = (buttonPlayoffAppearances == "[ - ]") ? ("[ + ]") : ("[ - ]");
    }

    private void ChangeButtonAppearanceChampionships(MouseEventArgs e)
    {
        var eventArgs = e;

        cardDetailsStyleChampionships = (cardDetailsStyleChampionships == "card-details-hidden") ? ("card-details-visible") : ("card-details-hidden");
        buttonChampionships = (buttonChampionships == "[ - ]") ? ("[ + ]") : ("[ - ]");
    }

    private void SimulateBasketBallSeason()
    {
        Console.WriteLine("Simulate Basketball Season");
        var basketBallSimulationOutCome = Simulation.BaketBallSeasonSimulation.GetBaskeBallSeasonSimulationOutcome(1960);
        this.isPlayoffTeam = basketBallSimulationOutCome.IsPlayoffTeam;
        this.isPlayoffTeamWithBye = basketBallSimulationOutCome.IsPlayoffTeamWithBye;
        this.isChampionshipWinningTeam = basketBallSimulationOutCome.IsChampionshipWinningTeam;

        simulationOutComes.Add(basketBallSimulationOutCome);
    }

    private async Task SimulateDecade()
    {
        this.simulatedDecades = new List<Simulation.SimulationOutcome>();
        this.playoffsCount = new List<int>();
        this.championshipsCount = new List<int>();

        for (int i = 0; i != numberOfSimulations; i++)
        {
            var simulatedDecade = basketballSeasons.Select(year => Simulation.BaketBallSeasonSimulation.GetBaskeBallSeasonSimulationOutcome(year)).ToList();
            simulatedDecades.AddRange(simulatedDecade);

            // Count playoffs and championships for each simulation
            var playOffCount = simulatedDecade.Where(a => a.IsPlayoffTeam).Count();
            this.playoffsCount.Add(playOffCount);

            var championshipCount = simulatedDecade.Where(a => a.IsChampionshipWinningTeam).Count();
            this.championshipsCount.Add(championshipCount);
        }

        await this.RenderCharts();
    }

    private async Task RenderCharts()
    {
        var playoffsCountMean = Math.Round(this.playoffsCount.Average(), 2, MidpointRounding.AwayFromZero);
        var championshipsCountMean = Math.Round(this.championshipsCount.Average(), 2, MidpointRounding.AwayFromZero);

        await JSRuntime.InvokeVoidAsync("createD3SvgObject", this.playoffsCount, playoffsCountMean, "dataVizPlayoffs", "Playoff Appearances");
        await JSRuntime.InvokeVoidAsync("createD3SvgObject", this.championshipsCount, championshipsCountMean, "dataVizChampionships", "Championships Won");
    }
}